<!DOCTYPE html>
<html ng-app="Codex">
<head>
  <title>Codex</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= Gon::Base.render_data %>
</head>
<body>
    <%= render partial: 'layouts/header' %>
    <%= yield %>
</body>
</html>
